{% extends 'basic_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}New School | CBV{% endblock title %}

{% block body %}

<h1>
  {% if not form.instance.pk %}
  Create School
  {% else %}
  Update School
  {% endif %}
</h1>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary" value="Submit">
  {% if form.instance.pk %}
  <a href="{% url 'basic_app:delete' pk=school.pk%}" class="btn btn-danger">Delete</a>
  {% endif %}
</form>

{% endblock body %}