{% extends 'basic_app/base.html' %}

{% block title %}School Detail | CBV{% endblock title %}

{% block body %}

<div class="jumbotron">
  <h1>Welcome to the School Detail Page</h1>
  <h2>School details:</h2>
  <p>Name: {{ school.name }}</p>
  <p>Principal: {{ school.principal }}</p>
  <p>Location: {{ school.location }}</p>
  <h3>Students:</h3>
  {% for student in school.students.all %}
  <p>{{ student.name }} who is {{ student.age }} years old</p>
  {% endfor %}
</div>

<div class="container">
  <p>
    <a href="{% url 'basic_app:update' pk=school.pk %}" class="btn btn-warning">Update</a>
  </p>
</div>

{% endblock body %}