{% extends 'basic_app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}New Student | CBV{% endblock title %}

{% block body %}

<h1>
  {% if not form.instance.student_pk %}
  Create Student
  {% else %}
  Update Student
  {% endif %}
</h1>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="mt-3">
    <input type="submit" class="btn btn-primary mr-2" value="Submit">
    {% if form.instance.student_pk %}
    <a href="{% url 'basic_app:delete_student' pk_student=student.pk_student%}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</form>

{% endblock body %}